@model List<Product>

<table class="w-100 table-hover table">
    <thead>
        <tr>
            <th>Resim</th>
            <th>Kategori</th>
            <th>Ürün Adı</th>
            <th>Ürün Kodu</th>
            <th>Fiyat</th>
            <th>Seçenekler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr id="product-@p.Id">
                <td><img src="~/@p.MainPicture" width="50" alt="Alternate Text" /></td>
                <td>@p.Category.Name</td>
                <td>@p.Name</td>
                <td>@p.Code</td>
                <td>@p.Price</td>
                <td>
                    <a class="" href="/ritapanel/urun-guncelle/@p.Id" style="font-size:20px;"><i class="fa fa-edit text-warning"></i></a>
                    <a class="ml-3" href="javascript:void(0)" onclick="DeleteProduct(@p.Id)" style="font-size:20px;"><i class="fa fa-trash text-danger"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    
</script>